.cs-container {
    padding: 0;
    width: 700px;
    height: 800px;
}

/* Header */
.cs-header {
    height: 142px;
    display: flex;

    border-bottom: var(--border-separator);
}
.cs-image {
    width: 140px;
    height: 140px;

    border-right: var(--border-separator);
}
.cs-image img {
    border: none;
}
.cs-name input {
    margin: 4px;
    width: calc(100% - 8px);
    height: 40px;

    font-size: 32px;
}
.cs-class-level {
    flex: 0 0 40%;
    align-items: center;
}
.cs-class-level input[type="text"] {
    width: 220px;
    height: 20px;
}
.cs-class-level input[type="number"] {
    width: 60px;
    height: 20px;
    margin-left: 5px;
    text-align: left;
}

.cs-container .edit-window-header-row:nth-of-type(1) input {
    width: 120px;
}
.cs-container .edit-window-header-row input[type="number"] {
    width: 32px;
    text-align: center;
}

/* Tabs */
.cs-tabs {
    height: calc(100% - 142px);
}
.cs-tabs .tab-buttons {
    padding-top: 10px;
    padding-bottom: 5px;
}

/* General Purpose Components */
.cs-content-sidebar {
    width: 200px;
    height: 100%;
    
    flex: 0 0 200px;
    flex-wrap: nowrap;
    border-right: var(--border-separator);
}


/* Attributes Tab */
.cs-attributes {
    height: 596px;
    width: 140px;
    flex-wrap: nowrap;
    overflow: hidden;
}
.cs-other-values {
    height: 596px;
    width: 220px;
    flex-wrap: nowrap;
    overflow: hidden;
}
.cs-skills {
    height: 596px;
    width: calc(100% - 360px - 20px - 4px);
}

.cs-attribute input {
    width: 30px;
    height: 30px;
    
    font-size: 18px;
}
.cs-attribute-value input {
    margin-right: 16px;
}
.cs-attribute-temp input {
    color: gray;
}
.cs-attribute-mod input {
    width: 42px;
    height: 34px;
    
    border: var(--border-separator);
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    
    font-size: 32px;
}

.cs-other-values input {
    width: 24px;
    height: 24px;
}
.cs-ac-calc {
    height: 18px;
}
.cs-ac-calc input {
    width: 24px;
    height: 16px;
    font-size: 12px;
}
.cs-save-calc {
    font-size: 12px;
}
.cs-save-calc input {
    height: 16px;
}

.cs-skills table {
    width: 100%;
    
    border: none;
}
.cs-skills td,
.cs-skills tr,
.cs-skills th {
    border: none;
    padding: 0;
}
.cs-skills th {
    padding: 2px;
    
    font-variant: small-caps;
    font-size: 12px;
}
.cs-skill td {
    font-size: 12px;
    font-variant: small-caps;
    white-space: nowrap;
}
.cs-skill span {
    padding: 2px;
    
    font-size: 16px;
    white-space: normal;
}
.cs-skill td:nth-child(4) {
    color: gray;
}
.cs-skill div {
    display: inline;
}
.cs-skill input {
    width: 24px;
    height: 16px;
    
    border: none;
    background: none;
    outline: none;
    
    text-align: center;
    
    -moz-appearance: textfield;
}
.cs-skill .checkbox {
    width: 16px;
    height: 16px;
    margin: 2px;
}
.cs-skill-text {
    width: 70px;
    margin-left: 5px;
}

/* Macros Tab */
.cs-macros-sidebar input {
    width: 32px;
    height: 32px;
}

/* GM Tab */
.cs-gm-sidebar {
    overflow: auto;
}
.cs-gm-sidebar button {
    width: 50%;
}
.cs-gm-token span {
    display: flex;
}
.cs-gm-token input {
    width: 32px;
    height: 32px;
}
.cs-gm-token-image {
    width: 70px;
    height: 70px;

    flex: 0 0 70px;
    margin: 0 10px;
}
.cs-gm-token-image img {
    border: none;
}
.cs-sight-editor {
    width: 100%;
    padding-left: 5px;

    justify-content: start;
    line-height: 26px;
}
.cs-sight-editor input {
    width: 48px;
    height: 16px;
}

/* Spell Editor */
.edit-spell-row {
    font-weight: bold;
}
.edit-spell-row input {
    width: 100%;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.edit-spell-row.hide {
    display: none;
}
.edit-spell-content:focus-within .edit-spell-row.hide {
    display: flex;
}
