/* Header */
.cs-class-level {
    flex: 0 0 40%;
    align-items: center;
}
.cs-class-level input[type="text"] {
    width: 220px;
    height: 20px;
}
.cs-class-level input[type="number"] {
    width: 60px;
    height: 20px;
    margin-left: 5px;
    text-align: left;
}

.cs-container .edit-window-header-row:nth-of-type(1) input {
    width: 166px;
}
.cs-container .edit-window-header-row input[type="number"] {
    width: 32px;
    text-align: center;
}

/* Attributes Tab */
.cs-attributes {
    height: 596px;
    width: 140px;
    flex-wrap: nowrap;
    overflow: hidden;
}
.cs-other-values {
    height: 596px;
    width: 220px;
    flex-wrap: nowrap;
    overflow: hidden;
}
.cs-skills {
    height: 596px;
    width: calc(100% - 360px - 20px - 4px);
}

.cs-attribute input {
    width: 30px;
    height: 30px;
    
    font-size: 18px;
}
.cs-attribute-value input {
    margin-right: 16px;
}
.cs-attribute-temp input {
    color: gray;
}
.cs-attribute-mod input {
    width: 42px;
    height: 34px;
    
    border: var(--border-separator);
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    
    font-size: 32px;
}

.cs-other-values input {
    width: 24px;
    height: 24px;
}
.cs-ac-calc {
    height: 18px;
}
.cs-ac-calc input {
    width: 24px;
    height: 16px;
    font-size: 12px;
}
.cs-save-calc {
    font-size: 12px;
}
.cs-save-calc input {
    height: 16px;
}

.cs-skills table {
    width: 100%;
    
    border: none;
}
.cs-skills td,
.cs-skills tr,
.cs-skills th {
    border: none;
    padding: 0;
}
.cs-skills th {
    padding: 2px;
    
    font-variant: small-caps;
    font-size: 12px;
}
.cs-skill td {
    font-size: 12px;
    font-variant: small-caps;
    white-space: nowrap;
}
.cs-skill span {
    padding: 2px;
    
    font-size: 16px;
    white-space: normal;
}
.cs-skill td:nth-child(4) {
    color: gray;
}
.cs-skill div {
    display: inline;
}
.cs-skill input {
    width: 24px;
    height: 16px;
    
    border: none;
    background: none;
    outline: none;
    
    text-align: center;
    
    -moz-appearance: textfield;
}
.cs-skill .checkbox {
    width: 16px;
    height: 16px;
    margin: 2px;
}
.cs-skill-text {
    width: 70px;
    margin-left: 5px;
}

/* Spell Editor */
.edit-spell-row {
    font-weight: bold;
}
.edit-spell-row input {
    width: 100%;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.edit-spell-row.hide {
    display: none;
}
.edit-spell-content:focus-within .edit-spell-row.hide {
    display: flex;
}

/* Chat Boxes */
.pf-spell.chat-box-header {
    background-color: #e2cf9d;
}
.pf-spell.chat-box-content {
    font-size: 14px;
    padding: 5px;
}
.pf-spell.chat-box-content table {
    width: calc(100% - 10px);
    margin: 0;
    margin-bottom: 5px;
}
.pf-spell.chat-box-content th {
    padding: 0;
    text-align: left;
}
.pf-spell.chat-box-content td {
    width: 100%; /* both of these are needed to make it take up available space and then cut off overflow */
    max-width: 1px; /* both of these are needed to make it take up available space and then cut off overflow */
    padding: 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pf-spell-description {
    position: relative;
    width: 100%;
    max-height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    
    padding-top: 5px;
}
.pf-spell-description:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0;
    bottom: 0;

    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%);
    pointer-events: none;
}