/*
--------------------------------------------------------------
CONTENTS:
--------------------------------------------------------------
    1. Variable Definitions
    2. Global Layout
    3. Generic Element Definitions
    4. Component Definitions
        4.1 ModePanel styles
        4.2 Chat
        4.3 List Window
        4.4 Settings
        4.5 Notifications
        4.6 Tree Lists
        4.7 File Manager
        4.8 Tabs
        4.9 Dialogs
        4.10 Edit Window
    5. Library Overrides
--------------------------------------------------------------
*/

/*
--------------------------------------------------------------
    1. Variable Definitions
--------------------------------------------------------------
*/
:root {
    --color-selected: #faebd7;

    --color-light: #fff4d2;
    --color-medium: #f5deb3;
    --color-dark: #e2cf9d;

    --color-highlight: #553300;
    --shadow-hover: 0px 0px 3px 1px var(--color-highlight); 
    --shadow-active: 0px 0px 3px 1px var(--color-highlight);
    --text-shadow-hover: 0px 0px 5px var(--color-highlight);
    --text-shadow-active: 0px 0px 5px var(--color-highlight);
    
    --bg: url(/core/files/img/paper_texture.png), var(--color-light);
    --bg-transparent: rgba(254, 238, 189, 0.85);

    --border-separator: 2px groove var(--color-dark);
}

/*
--------------------------------------------------------------
    2. Global Layout
--------------------------------------------------------------
*/
/* required to make content refer to actual window size */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#canvas {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
}
#canvas:focus {
    outline: none;
}

#sidepanel {
    position: absolute;
    right: 0;
    top: 0;

    width: 384px;
    height: 100%;

    background: var(--bg-transparent);
    border-radius: 8px 0 0 8px;
    box-shadow: 0px 0px 6px black;
    z-index: 10;
}
#sidepanel:focus {
    outline: none;
}

#overlay {
    width: 0%;
    height: 0%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}

.full-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; /*TODO: choose a better color*/
    position: fixed;
    top: 0;
    left: 0;
}

.fancy-bg {
    background-size: cover;
}

.login-field {
    width: 200px;
    padding: 2px;
    border-width: 1px;
    margin: 2px;
}

.copyright {
    position: absolute;
    right: 0;
    bottom: 0;

    padding: 4px;

    text-shadow: 0px 0px 3px black, 0px 0px 3px black;
    text-align: right;
    font-weight: bold;
    color: white;
}
.copyright a {
    color: white;
}

/*
--------------------------------------------------------------
    2. Generic Element Definitions
--------------------------------------------------------------
*/
/* Used to provide bordered and named sections */
fieldset {
    margin: auto;
    width: auto;
    height: auto;
    box-shadow: 0px 0px 8px 2px black;
}

fieldset legend {
    text-shadow: 0px 0px 3px black, 0px 0px 3px black;
    font-weight: bold;
    font-size: larger;
    color: white;
}

textarea {
    overflow: auto;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}
th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
p {
    margin-block-start: 0;
    margin-block-end: 1em;
}
hr {
    margin-block-start: 0;
    margin-block-end: 0;
    border-color: var(--color-dark); 
}
p + hr {
    margin-block-start: -1em;
    margin-block-end: 0;
}

/* General Layouts */
.flexrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.flexcol {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.flexrow > *,
.flexcol > * {
    flex: 1;
}

/* General inputs */
button {
    border: 1px solid black;
    background: var(--color-dark);
    background: linear-gradient(0deg, var(--color-dark) 0%, var(--color-medium) 100%);
}
button:enabled:hover {
    box-shadow: inset var(--shadow-hover);
}
button:active {
    box-shadow: inset var(--shadow-active);
}
input {
    border-width: 1px;
}
input:enabled:hover {
    box-shadow: var(--shadow-hover);
}
input:focus {
    box-shadow: var(--shadow-active);
}

.sidepanel-button {
    width: 100%;
    border: 1px solid black;
    background: var(--color-dark);
    background: linear-gradient(0deg, var(--color-dark) 0%, var(--color-medium) 100%);
}

/* Property Editor */
.property-editor {
    width: 150px;
    height: 32px;
    overflow: hidden;
    padding: 2px;
    border: solid 1px black;
    /* border-radius: 4px; */ /* TODO: does this actually make it look better? */
}

.checkbox {
    margin: 0;
    padding: 0;
    border: none;
    display: inline-block;
}
.checkbox p {
    width: 100%;
    height: 100%;
    background-size: contain;
    background: url(/core/files/img/icon/box-unchecked.png);
}
.checkbox.checked p {
    background: url(/core/files/img/icon/box-checked.png);
}

.html-editor {
    position: relative;
}
.html-editor form {
    width: 100%;
    height: 100%;
    user-select: text;
}
.html-editor > button {
    position: absolute;
    right: 0;
    top: 0;

    width: 32px;
    height: 20px;

    display: none;
}
.html-editor:hover > button {
    display: block;
}

/* Used for bordered divs with overlaying legend on border -> see: GuiUtils.makeBordered */
.bordered {
    padding: 5px 5px 5px 5px;
    margin-top: 18px;
    border: 1px solid black;
}
.border-title {
    font-size: 17px;
    font-style: normal;
    font-weight: normal;
    margin: -27px 2px 5px 0;
    width: fit-content;
    position: absolute;
}

/* Custom Scrollbars (TODO: only works in webkit based browsers (so no firefox) and doesn't even look that great?) */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    border-radius: 10px;
    background-color: var(--color-light);
}

/*
--------------------------------------------------------------
    4. Component Definitions
--------------------------------------------------------------
*/
/* 
---------------------------------------
        4.1 ModePanel styles 
---------------------------------------
*/
.mode-panel {
    pointer-events: none;
    margin: 4px 4px 4px 4px;
    position: fixed;
    top: 128px;
    left: 0;
}
.mode-sub-panel {
    display: inline-block;
    margin: 0 0 0 0;
}
.mode-button {
    pointer-events: auto;
    width: 32px;
    height: 32px;
    padding: 0 0 0 0;
    margin: 2px 2px 2px 2px;
    background-color: var(--color-light);
}
.mode-button:hover {
    background-color: var(--color-medium);
}
.mode-sub-button {
    width: 28px;
    height: 28px;
}

/* 
---------------------------------------
        4.2 Chat 
---------------------------------------
*/
.chat {
    background: var(--bg);
    width: calc(100% - 4px);
    max-width: calc(100% - 4px);
    margin: 5px 2px;
    border-radius: 6px;
    border: solid 1px var(--color-dark);
    position: relative;
    box-shadow: var(--shadow-active); /* TODO: Is this really important/noticable? */
}
.chat-sender {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
}
.chat-sender-special {
    font-style: italic;
}
.chat-message {
    font-size: 16px;
    margin: 8px 0 0 8px;
}
.chat-info {
    font-style: italic;
    font-size: 14px;
    margin: 0;
}
.chat-timestamp {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 5px 0 0;
    font-size: 12px;
}
.chat-timestamp p {
    margin: 0;
}

span.chat-dice-bg {
    width: 48px;
    height: 48px;
    display: inline-flex;
    place-content: center;
    line-height: 48px;
}
span.chat-dice-4 {
    background-image: url(/core/files/img/dice/small/d4.png);
}
span.chat-dice-6 {
    background-image: url(/core/files/img/dice/small/d6.png);
}
span.chat-dice-8 {
    background-image: url(/core/files/img/dice/small/d8.png);
}
span.chat-dice-10 {
    background-image: url(/core/files/img/dice/small/d10.png);
}
span.chat-dice-12 {
    background-image: url(/core/files/img/dice/small/d12.png);
}
span.chat-dice-20 {
    background-image: url(/core/files/img/dice/small/d20.png);
}
span.chat-dice-crit {
    color: #008800;
}
span.chat-dice-fail {
    color: #FF0000;
}
span.chat-dice-inline {
    width: 32px;
    height: 20px;
    display: inline-flex;
    border: solid 1px black;
    place-content: center;
    line-height: 18px;
}
span.chat-button:hover {
    background-color: var(--color-light);
    box-shadow: var(--shadow-hover);
    cursor: pointer;
}

div.chat-box {
    display: block;
    place-content: center;
    margin-block-end: 0.5em;
}
div.chat-box-header {
    display: block;
    width: 90%;
    margin: 0 auto;
    border: solid 1px black;
    border-radius: 12px;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 3px black, 0px 0px 3px black;
    box-shadow: 0px 0px 3px black;
}
div.chat-box-content {
    display: block;
    width: 80%;
    margin: 0 auto;
    border: solid 1px black;
    background-color: rgba(255, 255, 255, 0.5);;
    box-shadow: 0px 0px 3px black;
}
div.chat-box-content table {
    border: none;
    margin-left: 0;
    margin-right: 0;
}
div.chat-box-content th, div.chat-box-content td {
    border: none;
}

/* used for onhover divs */
.onhover {
    visibility: none;
    position: fixed;
    display: inline;
    z-index: 20; /*TODO: this makes this unusable in windows, but for now only the chat uses this component and it fixes the order there */
    
    color: black;
    background-color: white;
    border: solid 1px black;
    box-shadow: 0px 0px 3px black;

    pointer-events: none;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}
.onhover::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.hoverable:hover .onhover {
    visibility: visible;
    opacity: 1;
}

/* 
---------------------------------------
        4.3 List Window 
---------------------------------------
*/
.list-window-entry {
    width: calc(100% - 6px);
    display: flex;
    padding: 3px; /* includes the border size that would be present when active */
}
.list-window-entry-active {
    width: calc(100% - 6px);
    display: flex;
    padding: 2px;
    background-color: var(--color-light);
    border: solid 1px var(--color-dark);
    border-radius: 6px;
    box-shadow: var(--shadow-active);
}

/* 
---------------------------------------
        4.4 Settings 
---------------------------------------
*/
.settings-toggle {
    margin: auto;
    width: 20px;
    height: 20px;
}
.settings-number-range {
    margin: auto;
}
.settings-text {
    margin: auto;
}
.settings-module-name {
    margin: 0;
}
.settings-module-description {
    font-size: 14px;
}

/* 
---------------------------------------
        4.5 Notifications 
---------------------------------------
*/
.notifications {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    z-index: 1000000;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.notifications span {
    text-shadow: 0px 0px 6px black, 0px 0px 6px black;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    color: var(--color-light);
}

/* 
---------------------------------------
        4.6 Tree Lists 
---------------------------------------
*/
.tree-list {
    margin-left: 4px;
    padding: 0;
    
    list-style: none;
    user-select: none;

    font-variant: initial;
}
.tree-list li {
    width: 100%;

    float: left;
    clear: both;
}
.tree-list div {
    width: 100%;
    
    float: left;
    clear: both;

    margin-bottom: 3px;
    border: 1px solid black;
    padding: 3px;

    background-color: var(--color-medium);
    line-height: 15px;
    cursor: pointer;
}
.tree-list div:hover {
    box-shadow: var(--shadow-hover);
}
.tree-list div.selected {
    background-color: var(--color-selected);
}
.tree-list-icon {
    width: 16px;
    height: 16px;

    float: left;

    margin-right: 5px;

    line-height: 30px;
}
.tree-entry-desc {
    float: left;
    clear: both;

    margin: 0 0 0 10px;

    font-size: 12px;
    line-height: normal;
}
.tree-search-input {
    width: 100%;
    padding: 2px;
    border-width: 2px;
}


/* 
---------------------------------------
    4.7 File Manager 
---------------------------------------
*/
.fileman-dirlist {
    margin-left: 4px;
    padding: 0;
    
    list-style: none;
}
.fileman-dirlist li {
    width: 98%;

    float: left;
    clear: both;
}
.fileman-dirlist ul {
    margin: 0;
    padding: 0 0 0 20px;

    list-style:none;
}
.fileman-dirlist div {
    width: 98%;
    
    float: left;
    clear: both;

    padding: 3px;

    line-height: 15px;
    cursor: pointer;
}
.fileman-dirlist div:hover {
    box-shadow: var(--shadow-hover);
}
.fileman-dirlist div.selected {
    background-color: var(--color-selected);
}
.fileman-dirlist div.drop {
    background-color: var(--color-selected);
}
.fileman-dirlist div * {
    pointer-events: none; /* prevents drag and drop issues with child elements of the div */
}
.fileman-dirlist .fileman-expand {
    float: left;

    margin: 3px 3px 0 0;
    pointer-events: all;
}
.fileman-dirlist .fileman-diricon {
    float: left;

    margin-right: 5px;

    line-height: 30px;
}

.fileman-filelist {
    padding-left: 20px;
}
.fileman-filelist li {
    width: 140px;
    height: 140px;

    float: left;
    clear: none;
    overflow: hidden;
    position: relative;

    margin: 0 6px 6px 0;
    border: 1px solid var(--color-medium);
    border-radius: 5px;
    padding: 10px;

    text-align: center;
    vertical-align: middle;
    background-color: var(--color-medium);
    cursor: pointer;
}
.fileman-filelist li:hover {
    box-shadow: var(--shadow-hover);
}
.fileman-filelist li.selected {
    border-color: var(--color-selected);
    background-color: var(--color-selected);
}
.fileman-thumbnail {
    width: 120px;
    height: 120px;

    float: none;
    clear: both;

    margin: 0;

    text-align: center;
    vertical-align: middle;
    background-position: center center;
    background-repeat: no-repeat;
}
.fileman-filename {
    width: 95%;

    display: block;
    position: absolute;
    bottom: 5px;

    color: white;
    text-shadow: 0px 0px 6px black, 0px 0px 6px black, 0px 0px 6px black;
    
    margin: 0;
}

.fileman-button {
    height: 20px;
    margin: 0 5px 5px 0;
    border: 1px solid var(--color-medium);
    border-radius: 3px;
    padding: 0 3px 0 18px;

    background-color: var(--color-medium);
    background-image: url(/core/files/img/fileman/sprite.png);
    background-position: 2px center;
    background-repeat: no-repeat;
}
.fileman-button:hover {
    cursor: pointer;
}
.fileman-input-info {
    margin: 0 5px 5px 0;
}

.fileman-fileupload {
    position: relative;

    margin: 8px 0 0 0;
    border: 1px solid var(--color-medium);
}
.fileman-fileupload-name {
    height: 20px;

    overflow: hidden;

    padding: 0 13px 0 5px;

    line-height: 20px;
}
.fileman-fileupload-progress {
    width: 0;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    background: var(--color-dark);
}
.fileman-fileupload-done {
    background: #dbff87;
}
.fileman-fileupload-error {
    background: #ff8787;
}
.fileman-stripes {
    width: 100%;
    height: 100%;

    background: url('/core/files/img/fileman/stripes.gif');
    opacity: 0.4;
}

/* 
---------------------------------------
    4.8 Tabs
---------------------------------------
*/
.tabs {
    position: relative;
}
.tab-buttons {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    user-select: none;
}
.tab-buttons button {
    height: 24px;
    display: inline-block;
    text-align: center;

    padding: 0;

    border: none;
    outline: none;
    background: none;

    font-size: 18px;
    font-variant: small-caps;
    border-bottom: 3px solid rgba(0, 0, 0, 0.25);
    
    cursor: pointer;
    transition: 0.3s;
}
.tab-buttons button:hover,
.tab-buttons button.active {
    border-bottom: 3px solid black;
    text-shadow: var(--text-shadow-hover);
    box-shadow: none;
}

.tab-content {
    width: 100%;
    height: calc(100% - 40px);

    position: absolute;
    top: 40px;
    left: 0;
}
.tab-hidden {
    visibility: hidden;
}
.tab-hidden * {
    visibility: hidden !important;
}

/* 
---------------------------------------
    4.9 Dialogs
---------------------------------------
*/
.dialog {
    position: absolute;

    background: var(--bg-transparent);
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 0 7px 0 black;

    overflow: hidden;
}
.dialog.modal {
    background: var(--bg);
}
.dialog-title {
    position: relative;
    height: 24px;

    background: var(--color-dark);
    border-bottom: 1px solid black;

    cursor: move;
}
.dialog-title p {
    position: absolute;
    left: 6px;
    top: 2px;
    height: 19px;

    font-variant: small-caps;
    text-shadow: var(--text-shadow-active);

    user-select: none;
}
.dialog-title button {
    position: absolute;
    right: 2px;
    top: 2px;
    width: 24px;
    height: 19px;

    border-radius: 10px;
}
.dialog-content {
    position: relative;
    padding: 4px;
}
.dialog-buttons {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 24px;

    border-top: 1px solid black;
    
    display: flex;
    place-content: flex-end;
}
.dialog-buttons button {
    height: 19px;
    margin: 2px;

    border-radius: 10px;
}
.dialog-modal-pane {
    position: absolute;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.25);
}


/* 
---------------------------------------
    4.10 Edit Window
---------------------------------------
*/
.edit-window-container {
    font-variant: small-caps;
    flex-wrap: nowrap;
    user-select: none;
}
.edit-window-container input,
.edit-window-container select {
    background: none;
    border: none;
    outline: none;
}
.edit-window-container input[type="number"] {
    -moz-appearance: textfield;
}
.edit-window-container input[type="number"]::-webkit-outer-spin-button,
.edit-window-container input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.edit-window-container textarea {
    background: none;
    border: var(--border-separator);
}

/* Header */
.edit-window-header {
    flex-grow: 0;
    flex-shrink: 0;
    
    border-bottom: var(--border-separator);
}
.edit-window-header-row {
    flex: 0 0 100%;
    
    padding: 0;
    margin: 0;
    list-style: none;
    
    border-top: var(--border-separator);
}
.edit-window-header-row li {
    padding: 4px;
    border-right: var(--border-separator);

    display: flex;
    font-variant: small-caps;
    align-items: center;
}
.edit-window-header-row li:last-child {
    border-right: none;
}

/* Tabs */
.edit-window-tabs .tab-buttons {
    padding-top: 10px;
    padding-bottom: 5px;
}

/* General Purpose Components */
.edit-window-area {
    margin: 4px;
    border: var(--border-separator);
    border-radius: 4px;
    
    list-style: none;
    padding: 0;

    overflow: auto;
}
.edit-window-full-area {
    width: calc(100% - 8px);
    height: calc(100% - 8px);
}
.edit-window-value-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-bottom: var(--border-separator);
}
.edit-window-value-container > p:first-of-type {
    width: 100%;
    margin: 0;
    padding-top: 5px;

    text-align: center;
    font-variant: small-caps;
    background: rgba(0, 0, 0, 0.05);
    border-bottom: var(--border-separator);
    
    user-select: none;
}
.edit-window-value-container div {
    display: inline;
}
.edit-window-value-container input,
.edit-window-value-container select {
    margin-top: 4px;
    
    text-align: center;
}
.edit-window-clickable {
    font-variant: small-caps;

    cursor: pointer;
    user-select: none;
}
.edit-window-clickable:hover {
    text-shadow: var(--text-shadow-hover);
}

.edit-window-row {
    align-items: center;
    
    width: 100%;
    padding: 0 5px;
}
.edit-window-row input {
    height: 20px;
    width: 140px;
}

.edit-window-grid {
    display: grid;
    grid-template-columns: auto auto;
    padding: 4px;
}
.edit-window-grid input,
.edit-window-grid button {
    height: 20px;
}



/* Token Edit Window */
.edit-token-image {
    width: 90px;
    height: 90px;

    flex: 0 0 90px;
    border-right: var(--border-separator);
}
.edit-token-actor {
    padding: 4px;
}
.edit-token-actor button {
    height: 20px;
    white-space: nowrap;
}
.edit-token-actor button:first-of-type {
    flex: 0 0 110px;
}
.edit-token-container .edit-window-header-row input {
    width: 45px;
    height: 20px;
    text-align: center;
}
.edit-token-container .edit-window-header-row select {
    width: 110px;
    height: 20px;
}
.edit-token-edit-boxes,
.edit-token-edit-boxes input {
    width: 100%;
}


/*
--------------------------------------------------------------
    5. Library Overrides
--------------------------------------------------------------
*/
/* TinyMCE Overrides */
.tox-tinymce-inline {
    z-index:1000 !important; /* force editor toolbar in front of windows */
}

/* jQueryUI overrides */
.ui-menu.ui-widget-content,
fieldset.ui-widget-content {
    background: var(--bg-transparent) !important;
    border-color: black !important;
}

.ui-menu .ui-menu-item {
    font-size: 10px !important;
}
